*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.header{
    padding-top: 47px;
    padding-bottom: 35px;
    position: fixed;
    top: 0;
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
}
form{
    display: flex;
    justify-content: space-between;
}

.footer{
    border: solid black 1px;
    margin-top: 120px;
    background-color: #EEEFFB;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
}
.hero_section{
    margin-top: 120px;
    background-image: url(./image/Rectangle\ 102\ \(1\).png);
    background-position: center;
    height: 462px;
    display: flex;
}

.products{
    margin-top: 200px;
}
/* End public */
/* Start header */
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header .form button{
    border: none;
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}

.list ul{
    display: flex;
    gap: 35px;
    margin-top: 10px;
}
.logo{
    width: 98px;
    height: 34px;
    margin-top: 3px;
}

.home{
    color: #FB2E86;
}

.form img{
    width: 24px;
    height: 24px;
}

.form input{
    width: 250px;
}

.menu{
    display: none;
}


.list a:hover{
    color:darkorange;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-delay: 0.2s ;
}
/* End header */

/* start footer */

.left_side{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 105px;
    padding: 20px 0 0 20px;
}

.footer_form{
    display: flex;
    width: 377px;
    height: 43.32px;
    justify-content: center;
}

.right_side{
width: 60%;
 margin-top: 105px;
 gap: 3%;
 display: flex;
 justify-content: center;
 padding: 15px;
}

.footer_form input{
    width: 242px;
}
.footer_form button{
    border: none;
    width: 155px;
    background-color: #FB2E86;
}

.footer_item{
    width: 30%;
}
.footer_item h2{
    margin-bottom: 20px;
}

.footer_item ul{
    display: flex;
    flex-direction: column;
    gap: 23.32px;
    width: 187px;
}
.address span ,.address p{
    color: #8A8FB9;
    font-family: Lato;
}

.footer_item li{
    color: #8A8FB9;
    font-family: Lato;
}
.item_info{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}

.footer_item h3{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 45px;
}
/* End footer section */
/* Start hero section */

.hero_section .item{
    width: 574px;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.hero_section p{
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 35px;
    color: #151875;
    padding-bottom: 28px;
}

.hero_section button{
    color: #FFFFFF;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 17px;
    background-color: #FB2E86;
    width: 173px;
    height: 49px;
    border: none;
}

/* End hero section  */

/* Start products section */

.products .items{
    width: 270px;
    height: 361px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.products h2{
    text-align: center;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 45px;
    color: #1A0B5B;
}

.products .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products .image{
    width: 270px;
    height: 236px;
    background-color: #F6F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products .info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 17px,0;
}

.products h3{
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    color: #FB2E86;
}

.products .butt{
    width: 14px;
    height: 5px;
}

.products .green{
    background-color: #05E6B7;
}

.products .pink{
    background-color: #F701A8;
}

.products .blue{
    background-color: #00009D;
}

.products .code{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 14px;
    color: #151875;
}

/* End products section */
@media screen and (min-width: 0) and (max-width:1150px) {
    .header .container{
        flex-wrap: wrap;
    }

    .list ul{
        display: none;
    }
    
    form{
        display:none;
    }

    .menu{
        display: block;
    }
    .footer .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer .container .right_side {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer_form{
        flex-direction: column;
    }

    .hero_section .container{
        display: flex;
        flex-wrap: wrap;
    }
    
    .products .row{
        flex-wrap: wrap;
    }
}