*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav{
    list-style-type: none;
}

.header{
    padding: 50px 0;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #F6F7FB;
}

.container{
    width: 80%;
    margin: auto;
}
form{
    display: flex;
    justify-content: space-between;
}

.footer{
    border: solid black 1px;
    padding: 50px 0;
    background-color: #EEEFFB;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
}
.hero_section{
    margin-top: 50px;
    background-image: url(./image/Rectangle\ 102\ \(1\).png);
    background-position: center;
    height: 462px;
    display: flex;
}

.products{
    padding: 50px 0;
}


.hero{
    padding: 50px 0px;
    background-color: #F2F0FF;
}
.shopex_offer{
    padding: 50px 0;
}
/* End public */
/* Start header */
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header .form button{
    border: none;
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}

.list nav{
    display: flex;
    gap: 35px;
    margin-top: 10px;
}
.logo{
    width: 98px;
    height: 34px;
    margin-top: 3px;
}

.home{
    color: #FB2E86;
}

.form img{
    width: 24px;
    height: 24px;
}

.form input{
    width: 250px;
}

.menu{
    display: none;
}


.list a:hover{
    color:darkorange;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-delay: 0.2s ;
}
/* End header */

/* Start hero section 1*/

.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero_right img{
    height: 100vh;
}

.hero .best_Furniture{
    color: #FB2E86;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 3px;
}

.hero_left h2{
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 53px;
    padding-bottom: 3px;
}

.hero_left .lorem{
    color: #8A8FB9;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 7px;
}

.hero_left button{
    width: 159px;
    height: 50px;
    background-color: #FB2E86;
    color: #FFFFFF;
    font-family: Josefin Sans;
    font-size: 17px;
    font-weight: 600;
    border: 0;
}

/* End hero section  1*/

/* Start products section */

.products .items{
    width: 270px;
    height: 361px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.products h2{
    text-align: center;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 45px;
    color: #1A0B5B;
}

.products .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products .image{
    width: 270px;
    height: 236px;
    background-color: #F6F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products .info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 17px 0;
}

.products h3{
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    color: #FB2E86;
}

.products .butt{
    width: 14px;
    height: 5px;
}

.products .green{
    background-color: #05E6B7;
}

.products .pink{
    background-color: #F701A8;
}

.products .blue{
    background-color: #00009D;
}

.products .code{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 14px;
    color: #151875;
}

/* End products section */

/* Start hero section 2*/

.hero_section .item{
    width: 574px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.hero_section p{
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 35px;
    color: #151875;
    padding-bottom: 28px;
}

.hero_section button{
    color: #FFFFFF;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 17px;
    background-color: #FB2E86;
    width: 173px;
    height: 49px;
    border: none;
}

/* End hero section 2 */

/* start shopex offer section  */
.shopex_offer h2{
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 42px;
    color: #151875;
}
.shopex_offer .items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: calc((100%-84px)/4);
}

.shopex_offer img{
    width: 65px;
    height: 65px;
    margin-bottom: 27px;
}

.shopex_offer span{
    color: #151875;
    margin-bottom: 30px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 22px;
}

.shopex_offer p{
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #1A0B5B4D;
    margin-top: 22px;
    text-align: center;
}

.item{
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.item:hover{
    border: 2px solid #9c67f1;
}

/* end shopex offer section  */

/* start footer */

.left_side{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.footer_form{
    display: flex;
    max-width: 377px;
    height: 43.32px;
    justify-content: center;
}

.right_side{
width: 60%;
 margin-top: 50px;
 gap: 5%;
 display: flex;
 justify-content: center;
 padding: 15px;
}

.footer_form input{
    width: 60%;
}
.footer_form button{
    border: none;
    width: 155px;
    background-color: #FB2E86;
    color: #FFFFFF;
}

.footer_item{
    width: 30%;
}
.footer_item h2{
    margin-bottom: 20px;
}

.footer_item nav{
    display: flex;
    flex-direction: column;
    gap: 23.32px;
    width: 187px;
}
.address span ,.address p{
    color: #8A8FB9;
    font-family: Lato;
}

.footer_item li{
    color: #8A8FB9;
    font-family: Lato;
}
.item_info{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}

.footer_item h3{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 45px;
}
/* End footer section */
@media screen and (max-width:1150px) {

    .header .container{
        flex-wrap: wrap;
    }

    .list nav{
        display: none;
    }
    
    form{
        display:none;
    }

    .menu{
        display: block;
    }

    .footer .container{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .footer .container{
        align-items: center;
    }

    .footer .container .right_side {
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .footer .container .left_side {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .footer_form{
        flex-direction: column;
        gap: 10px;
    }

    .hero_section .container{
        display: flex;
        flex-wrap: wrap;
    }
    
    .products .row{
        flex-wrap: wrap;
    }

    .hero .container{
        flex-direction: column;
    }

    .hero_right img{
    width: 100%;
}
}

@media screen and (max-width: 768px) {
    .right_side {
        flex-direction: column;
    }

    .footer_item {
        width: 100%;
    }

    .shopex_offer .items{
        flex-direction: column;
    }
}